#displayUploaderContainer {
  position: sticky !important;
  top: 0px;
  height: 90vh;
}

#displayUploaderContainer img,
#displayUploaderContainer video {
  width: 470px;
  height: 500px;
}

#tagList {
  height: 150px;
}

textarea {
  resize: none;
}

input[type="checkbox"] {
  width: 32px;
  height: 32px;
}

input[type="text"] {
  height: 58px;
}

.display-7 {
  font-size: 1.5rem;
  font-weight: 300;
}
