.message {
  height: 72px;
  width: 100%;
}

.ellipsis {
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis !important;
}

#messageSideBar {
  width: 500px;
}

#messageColumn > :hover:not(.selected) {
  background: #1a1a1a;
  cursor: pointer;
}

.selected {
  background: #2e2e2e;
}

#messageSideBar:hover::-webkit-scrollbar {
  display: block;
}

#messageSideBar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

#messageBar {
  height: 74px;
}

#userList,
#hiddenMessageList,
#showCaseMemberNewGroup {
  height: 240px;
}

#messageTextArea:not(:focus):empty:not([data-div-placeholder-content]):before {
  content: attr(data-placeholder);
}

.profileIcon {
  min-width: 56px;
}

#messageTextArea {
  height: 36px;
}

.user {
  min-height: 60px;
  max-height: 60px;
}

.user:hover {
  background: #1a1a1a;
}

.sendMessage,
.recieveMessage {
  max-width: 50%;
  min-width: 200px;
}

.sendMessage:hover .deleteMessage > svg {
  display: block;
}

.deleteMessage > svg {
  display: none;
  cursor: pointer;
}

#sendMessageBtn {
  cursor: pointer;
}

.checkboxContainer > input {
  width: 24px;
  height: 24px;
}

.checkmark {
  width: 24px;
  height: 24px;
}

.checkboxContainer > input:hover {
  cursor: pointer !important;
}
