.message {
  height: 72px;
}
#messageColumn {
  width: 500px;
}
#messageColumn > :hover {
  background: #1a1a1a;
  cursor: pointer;
}
.selected {
  background: #2e2e2e;
}

#messageColumn:hover::-webkit-scrollbar {
  display: block;
}
#messageColumn::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
}
#messageBar {
  height: 74px;
}
#userList,
#emojiList,
#hiddenMessageList {
  height: 240px;
}
.bi-emoji-smile {
  cursor: pointer;
}
.user {
  min-height: 60px;
  max-height: 60px;
}
.user:hover {
  background: #1a1a1a;
}
input::placeholder,
textarea::placeholder {
  color: gray !important;
}

.form-control:focus {
  box-shadow: none;
}
textarea {
  border: none;
  outline: none;
  resize: none;
  max-height: 32px;
}

.sendMessage,
.recieveMessage {
  max-width: 50%;
}

.checkboxContainer > input {
  width: 24px;
  height: 24px;
}

.checkmark {
  width: 24px;
  height: 24px;
}

.checkboxContainer > input:hover {
  cursor: pointer !important;
}
