.message {
  height: 72px;
}
#messageColumn {
  width: 500px;
}
#messageColumn > :hover {
  background: #1a1a1a;
  cursor: pointer;
}
.selected {
  background: #2e2e2e;
}

#messageColumn:hover::-webkit-scrollbar {
  display: block;
}
#messageColumn::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
}
#messageBar {
  height: 74px;
}
input::placeholder,
textarea::placeholder {
  color: gray !important;
}

textarea {
  border: none;
  outline: none !important;
  resize: none;
  max-height: 32px;
}

.sendMessage,
.recieveMessage {
  max-width: 50%;
}
