.card {
  width: 470px;
  height: auto;
  margin-bottom: 150px;
}

.postContent {
  width: 100%;
}

.card-header {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.contentContainer video,
.contentContainer img {
  width: 100%;
  height: auto;
  max-height: 700px;
}

textarea {
  border: none;
  outline: none;
  resize: none;
}
form {
  width: 461px;
}
