.card {
  width: 470px;
  height: auto;
}

.postContent {
  width: 100%;
}

.card-header {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.contentContainer video,
.contentContainer img {
  width: 470px;
  height: auto;
  max-height: 700px;
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

form {
  width: 461px;
}

hr {
  color: gray;
}

.postInteraction:hover {
  fill: gray;
}

.like {
  animation: beat 0.5s;
}

.interactions {
  max-height: 700px;
}

@keyframes beat {
  50% {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}
