.card {
  width: 470px;
  height: auto;
}

.postContent {
  width: 100%;
}

.card-header {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.contentContainer video,
.contentContainer img {
  width: 470px;
  height: 500px;
  object-fit: contain;
}

.commentTextArea:not(:focus):empty:not([data-div-placeholder-content]):before {
  content: attr(data-placeholder);
}
.commentTextArea {
  height: 36px;
}
form {
  width: 461px;
}

hr {
  color: gray;
}

.postInteraction:hover {
  fill: gray;
}

.like {
  animation: beat 0.5s;
}

.side-interactions {
  height: 500px;
}

@keyframes beat {
  50% {
    transform: scale(1.4);
  }
  to {
    transform: scale(1);
  }
}
