:root {
  --transitionTime: 2s;
  --maxWidth: 240px;
  --minWidth: 150px;
  --hoverTime: 0.5s;
}

body {
  background: #000;
  padding: 0px;
  margin: 0px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252835;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616885;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #525870;
}
