:root {
  --transitionTime: 2s;
  --maxWidth: 240px;
  --minWidth: 150px;
  --hoverTime: 0.5s;
  --background: #000;
}

body {
  background: #000;
  padding: 0px;
  margin: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

input::placeholder {
  color: rgb(255, 255, 255);
}
.noBoxShadow:focus {
  box-shadow: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252835;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616885;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #525870;
}

/* From https://css.glass */
.glassmorph {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.pointer {
  cursor: pointer;
}
