.nav li.active {
  background: #111010;
}
#posts,
#stories,
#collections,
#bookmarks {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 10px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 10px;
}

#posts,
#stories,
#collections,
#bookmarks {
  max-height: 360px;
  overflow-y: auto;
  overflow-x: hidden;
}

#tagList {
  height: 150px;
}

#posts > .post,
#stories > .story {
  max-width: 100%;
  height: 350px;
}

#collections > .collection,
#bookmarks > .bookmark {
  max-width: 90%;
  height: 350px;
}

#posts > .post video,
#posts > .post img,
#stories > .story video,
#stories > .story img,
#collections > .collection video,
#collections > .collection img,
#bookmarks > .bookmark video,
#bookmarks > .bookmark img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#mediaContainer {
  position: sticky !important;
  top: 0px;
  height: 90vh;
}

#mediaContainer img,
#mediaContainer video {
  width: 470px;
  height: 500px;
}

input[type="checkbox"] {
  width: 32px;
  height: 32px;
}
