/* Variables */
:root {
  --transitionTime: 2s;
}

/* When sidebar is activated */
#sideBar.active {
  width: 150px;
}

/* Transitions */

/* Sidebar width transition */
#sideBar {
  width: 280px;
  transition: width var(--transitionTime, 0.3s) ease;
}

#sideBar .name {
  transition: opacity var(--transitionTime) ease, max-width var(--transitionTime) ease;
  opacity: 1;
  max-width: 200px;
}

/* Sidebar name transition */
#sideBar.active .name {
  transition: opacity var(--transitionTime) ease, max-width var(--transitionTime) ease;
  opacity: 0;
  max-width: 0px;
} 

#contentPage{
  padding-left: 280px;
}