/* Sidebar width transition */
#sideBar {
  width: var(--maxWidth);
  transition: width var(--transitionTime, 0.3s) ease;
  overflow: hidden;
}

#sideBar.active {
  width: var(--minWidth);
}

/* Sidebar name transition */
#sideBar .name {
  transition: opacity var(--transitionTime),
    max-width var(--transitionTime) ease;
  opacity: 1;
  max-width: 200px;
}

#sideBar.active .name {
  opacity: 0;
  max-width: 0;
}

#contentPage {
  min-width: 100%;
  padding-left: var(--maxWidth);
  transition: padding-left var(--transitionTime, 0.3s) ease;
}

#sideBar.active + #contentPage {
  padding-left: var(--minWidth);
}

li svg {
  width: 20px;
  height: 20px;
  transition: width var(--hoverTime) ease, height var(--hoverTime) ease;
}

li:hover svg {
  transition: width var(--hoverTime) ease, height var(--hoverTime) ease;
  width: 22px;
  height: 22px;
}

li:hover {
  background: #1a1a1a;
  cursor: pointer;
}
