#stories {
  height: 120px;
  gap: 13px;
}

#leftArrow,
#rightArrow {
  height: 30px;
  width: 30px;
}

.story-icon {
  min-width: 80px;
  min-height: 80px;
  max-width: 80px;
  max-height: 80px;
}

.story-icon-background {
  width: 75px;
  height: 75px;
  background: linear-gradient(to left, #e100a8, #8d0085, red, orange);
  transition: width var(--hoverTime) ease, height var(--hoverTime) ease;
}

.story-icon-background:hover {
  transition: width var(--hoverTime) ease, height var(--hoverTime) ease;
  width: 80px;
  height: 80px;
}

.story-icon-background.friend {
  background: linear-gradient(to right, rgb(5, 182, 5), green);
}

.modal-body {
  height: 400px;
}

.pointer {
  cursor: pointer;
}

.custom-carousel-indicator:not(.active) {
  background: gray;
}

.leftStory {
  left: -60px !important;
}

.rightStory {
  right: -60px !important;
}

.bi:hover {
  fill: white;
}

.custom-carousel-indicator.active {
  background-color: white;
}
