{{#each collection}}
  <div class="collection">
    <div class="d-flex justify-content-center">
      <img
        src="{{coverPhoto}}"
        alt=""
        width="70"
        height="70"
        class="rounded-circle"
      />
    </div>
    <div class="ellipsis text-center">{{collectionTitle}}</div>
  </div>
{{/each}}