<div
  class="modal-dialog modal-dialog-centered modal-fullscreen modal-dialog-scrollable"
>
  <div class="modal-content bg-black text-white glassmorph">
    <div class="modal-header d-flex flex-column p-0 position-relative pb-4">
      <h5 id="modalTitle" class="modal-title pt-3">Collection</h5>
      <button
        type="button"
        class="bg-transparent border-0 position-absolute end-0 pt-3 pe-3"
        data-bs-dismiss="modal"
        aria-label="Close modal"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="white"
          class="bi bi-x-lg"
          viewBox="0 0 16 16"
        >
          <path
            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
            stroke="white"
            stroke-width="1.5"
          />
        </svg>
      </button>
    </div>
    <div class="modal-body d-flex w-100 flex-row m-0 p-0">
      <div
        class="ms-3 d-flex justify-content-center border-end"
        id="mediaContainer"
      >
        <div
          class="d-flex align-items-center justify-content-center pe-3 position-relative"
        >
          <input
            type="file"
            accept="image/*"
            class="position-absolute visually-hidden"
            placeholder="Cover"
            id="newCollectionCoverInput"
            aria-label="user upload files"
          />
          <label for="newCollectionCoverInput" role="button">
            <img
              src="https://uploads.dailydot.com/2024/07/that-two-thousand-yard-stare.jpg"
              id="newCollectionCover"
            />
          </label>
        </div>
      </div>
      <div
        id="newCollectionInformationContainer"
        class="d-flex flex-column w-100 mt-3 ms-3 me-3 position-relative"
      >
        <div>
          <h3 class="mb-4 mt-4">Title:</h3>
          <input
            type="text"
            class="form-control noBoxShadow"
            placeholder="collection"
            id="newCollectionTitleInput"
            aria-label="collection"
          />
        </div>
        <h3 class="mt-3">Is public:</h3>
        <input
          class="form-check-input visibilityCheckBox"
          type="checkbox"
          value="0"
          id="collectionVisibilityAll"
        />

        <hr class="invisible" />
      </div>
    </div>
    <div class="modal-footer d-flex w-100 flex-row">
      <button
        id="collectionCreateButton"
        class="btn btn-primary"
      >Create</button>
    </div>
  </div>
</div>