{{#each emojiObject}}
  <div
    class="emojiBtn d-flex justify-content-center align-items-center user-select-none"
  ><div
      class="emoji d-flex rounded-2"
      data-bs-dismiss="modal"
      data-bs-target="#emojiSelector"
    >{{this}}</div></div>
{{/each}}