<div
  class="d-flex btn btn-primary rounded-0 justify-content-center align-items-center position-relative"
>
  <div aria-label="tag name" class="d-flex">{{tag}}</div>
  <span class="btn btn-close position-absolute end-0 me-3"> </span>
</div>