{{#each users as |user|}}
  <div
    class="d-flex btn btn-primary rounded-2 justify-content-center align-items-center selectedUser"
    id="selectedUser-{{user.id}}"
  ><span aria-label="display name">{{user.displayName}}</span><span
      class="btn btn-close d-flex"
    ></span></div>
{{/each}}