<div
  class="d-flex flex-column align-items-start justify-content-center w-100 mt-5 ms-5 ps-3 mb-5"
>
  <div class="d-flex flex-row">
    <h4 class="me-4 pe-2">Before:</h4>
    <input
      type="datetime-local"
      name=""
      id="filterDateTimeStartInput"
      class="form-control w-50"
    />
  </div>
  <div class="d-flex flex-row mt-4">
    <h4 class="me-5">After:</h4>
    <input
      type="datetime-local"
      name=""
      id="filterDateTimeEndInput"
      class="form-control w-50"
    />
  </div>
  <button class="btn btn-primary mt-4 w-25">Filter</button>
</div>
<div id="stories" class="col vh-100 w-100 overflow-x-hidden">
  {{#each stories}}
    <div class="story d-flex position-relative" id="{{storyID}}">
      {{#if isVideo}}
        <div class="position-absolute top-0 d-flex end-0 me-3 mt-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-camera-video"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z"
            />
          </svg>
        </div>
        <video class="border-1 border user-select-none content">
          <source src="{{storyLink}}" />
        </video>
      {{else}}
        <img src="{{storyLink}}" alt="" />
      {{/if}}
    </div>
  {{/each}}
</div>