<div
  class="d-flex flex-column align-items-start justify-content-center w-100 mt-5 ms-5 ps-3 mb-5"
>
  <div class="d-flex flex-row">
    <h4 class="me-4 pe-2">Before:</h4>
    <input
      type="datetime-local"
      name=""
      id="filterDateTimeStartInput"
      class="form-control w-50"
    />
  </div>
  <div class="d-flex flex-row mt-4">
    <h4 class="me-5">After:</h4>
    <input
      type="datetime-local"
      name=""
      id="filterDateTimeEndInput"
      class="form-control w-50"
    />
  </div>
  <button class="btn btn-primary mt-4 w-25">Filter</button>
</div>
<div id="posts" class="col vh-100 w-100 overflow-x-hidden">
</div>